:root {
	--dark-grey: #515151;
	--grey: #717171;
	--light-grey: #919191;
	--button: #34d87e;
	--button-press: #37b16e;
	--text: var(--dark-grey);
	--text-contrast: #fefefe;
	--primary: #2d135e;
	--primary-light: #c8b1f3;
	--secondary: #eb6ecb;
	--secondary-light: #f39fdd;
	--programacao: #007580;
	--infraestrutura: #d97642;
	--mobile: #28527a;
	--data-science: #206a5d;
	--design: #aa2b1d;
	--front-end: #e36bae;
}
