body,
html {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

#header {
	width: 100%;
	background: url(../img/background.svg) no-repeat center;
	background-size: auto;
	transition: background ease-out 0.2s;
}

.container {
	max-width: 1280px;
}

#header .navbar {
	padding-top: 50px;
	padding-bottom: 50px;
}

#header .navbar-brand {
	width: 95px;
	height: 45px;
}

#header .navbar-collapse {
	width: auto;
}

#header .searchform {
	width: 25%;
}

#header .searchinput {
	width: 85%;
	background: transparent;
	outline: 0;
	border: 2px solid white;
	color: white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 0;
	padding: 5%;
}

#header .searchbutton {
	width: 15%;
	background: transparent;
	border: 2px solid white;
	outline: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 0;
}

#header .searchbutton img {
	width: 15px;
}

#header .searchinput::placeholder {
	color: var(--primary-light);
}

#header .nav-link {
	text-transform: uppercase;
	font-weight: 500;
	padding-left: 0;
	padding-right: 0;
	letter-spacing: 2px;
	margin-left: 15px;
	margin-right: 15px;
	color: var(--text-contrast);
	transition: all ease-out 0.2s;
}

#header .nav-link::after {
	content: ' ';
	display: block;
	width: 0;
	height: 2px;
	background: var(--secondary);
	transition: all ease-out 0.2s;
}

#header .nav-link:hover {
	color: var(--secondary);
}

#header .nav-link:hover::after {
	width: 100%;
}

#header .registerbutton {
	background-color: var(--button);
	border-radius: 100px;
}

#header .button--isi::before {
	background: var(--button-press);
}

#header-title-content .header-title {
	color: var(--text-contrast);
	font-weight: 900;
}

#header-title-content .header-description {
	color: var(--text-contrast);
	line-height: 1.5;
	max-width: 90%;
}

#header .header-card {
	background: white;
	border-radius: 0 15px;
	width: 105%;
	border-bottom: 5px solid var(--secondary);
	border-right: 5px solid var(--secondary);
	padding: 15px;
	transition: all ease-out 0.2s;
}

#header .header-card:hover {
	transform: scale(1.04);
}

#header .programacao {
	border-bottom: 5px solid var(--programacao);
	border-right: 5px solid var(--programacao);
}

#header .infraestrutura {
	border-bottom: 5px solid var(--infraestrutura);
	border-right: 5px solid var(--infraestrutura);
}

#header .mobile {
	border-bottom: 5px solid var(--mobile);
	border-right: 5px solid var(--mobile);
}

#header .data-science {
	border-bottom: 5px solid var(--data-science);
	border-right: 5px solid var(--data-science);
}

#header .design {
	border-bottom: 5px solid var(--design);
	border-right: 5px solid var(--design);
}

#header .front-end {
	border-bottom: 5px solid var(--front-end);
	border-right: 5px solid var(--front-end);
}

#header .header-card-top {
	cursor: pointer;
}

#header .header-card .img-container {
	width: 50px;
	border-radius: 4px;
	padding: 5px;
}

#header .programacao .img-container {
	background: var(--programacao);
}

#header .infraestrutura .img-container {
	background: var(--infraestrutura);
}

#header .mobile .img-container {
	background: var(--mobile);
}

#header .data-science .img-container {
	background: var(--data-science);
}

#header .design .img-container {
	background: var(--design);
}

#header .front-end .img-container {
	background: var(--front-end);
}

#header .header-card-name {
	line-height: 1.2;
	width: 100%;
}

#header .header-card-name .category {
	font-weight: 900;
	text-transform: uppercase;
	display: block;
}

#header .programacao .header-card-name {
	color: var(--programacao);
}

#header .infraestrutura .header-card-name {
	color: var(--infraestrutura);
}

#header .mobile .header-card-name {
	color: var(--mobile);
}

#header .data-science .header-card-name {
	color: var(--data-science);
}

#header .design .header-card-name {
	color: var(--design);
}

#header .front-end .header-card-name {
	color: var(--front-end);
}

#header .header-card .img-container img {
	width: 100%;
}

#header .header-card-content {
	flex-wrap: wrap;
	color: var(--grey);
}

#header .header-card-content span {
	cursor: pointer;
	border: 2px solid var(--grey);
	border-radius: 4px;
	padding: 3px;
	transition: all ease-out 0.2s;
	margin: 1px;
}
#header .programacao .header-card-content span:hover {
	color: var(--programacao);
	border-color: var(--programacao);
}

#header .infraestrutura .header-card-content span:hover {
	color: var(--infraestrutura);
	border-color: var(--infraestrutura);
}

#header .mobile .header-card-content span:hover {
	color: var(--mobile);
	border-color: var(--mobile);
}

#header .data-science .header-card-content span:hover {
	color: var(--data-science);
	border-color: var(--data-science);
}

#header .design .header-card-content span:hover {
	color: var(--design);
	border-color: var(--design);
}

#header .front-end .header-card-content span:hover {
	color: var(--front-end);
	border-color: var(--front-end);
}

#header .header-background-slogan {
	color: var(--text-contrast);
	font-weight: 400;
}

#header .header-background-title {
	color: var(--text-contrast);
}

#banner img {
	width: 50px;
	height: 50px;
	margin-bottom: 5px;
}

#banner .banner-title {
	color: var(--primary);
}

#banner .banner-text {
	color: var(--dark-grey);
	font-weight: 400;
}
